/* dark scroll bar */
:root {
    scrollbar-color: rgba(130, 130, 130, .6) rgba(79, 87, 94, 1);
}

meter {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    width: 100%;
    height: 0.5em;
    border-radius: 0.2em;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.1) none;
}

meter::-webkit-meter-bar {
    background-color: rgba(0, 0, 0, 0.1);
}

meter[value="0"]::-webkit-meter-optimum-value { background: darkred; }
meter[value="1"]::-webkit-meter-optimum-value { background: orangered; }
meter[value="2"]::-webkit-meter-optimum-value { background: orange; }
meter[value="3"]::-webkit-meter-optimum-value { background: yellowgreen; }
meter[value="4"]::-webkit-meter-optimum-value { background: limegreen; }
